<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns="http://www.springframework.org/schema/beans"
  xmlns:context="http://www.springframework.org/schema/context"
  xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context.xsd">

  <bean class="io.karanthaker.spring.demo1.LoggerConfig" id="loggerConfig" init-method="initLogger">
    <property name="rootLoggerLevel" value="FINE"/>
    <property name="printedLoggerLevel" value="FINE"/>
  </bean>

  <!-- Load properties file -->
  <context:property-placeholder location="sport.properties" />

  <bean class="io.karanthaker.spring.demo1.RandomFortuneService"
    id="fortune">
  </bean>

  <bean class="io.karanthaker.spring.demo1.TrackCoach"
    id="coach">

    <!-- set up constructor injection -->
    <constructor-arg ref="fortune"/>
  </bean>

  <bean class="io.karanthaker.spring.demo1.CricketCoach"
    id="cricketCoach">

    <!-- set up setter injection -->
    <property name="fortuneService" ref="fortune" />

    <!-- set up literal value injection -->
    <property name="emailAddress" value="${coach.email}" />
    <property name="team" value="${coach.team}" />
  </bean>

</beans>